nltk==3.8.1
numpy==1.24.1
pandas==1.5.3
Sastrawi==1.0.1
scikit-learn==1.2.2
matplotlib==3.7.1
scikit-learn-extra==0.2.0
Levenshtein==0.20.9
openpyxl==3.1.2

git+https://github.com/ariaghora/mpstemmer.git
